@import url('https://fonts.googleapis.com/css2?family=Schoolbell&display=swap');

* {
  box-sizing: border-box;
}

html,
button {
  text-align: center;
  font-size: 1rem;
  font-family: 'Schoolbell', sans-serif;
  letter-spacing: 5px;
}

button.btn {
  padding: 1rem;
  padding: 1rem 2rem;
  text-align: center;
  cursor: pointer;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 5px auto;
  transition-duration: 0.4s;
  background-color: white;
  color: black;
  border: 2px solid black;
  border-radius: 5px;
}

#title:hover {
  color: red;
  cursor: pointer;
}

.game {
  margin: 0 auto;
}

.title h1 {
  font-size: 24px;
  margin: 32px;
}

.world-wrapper {
  margin: 0 auto;
}

.legend {
  position: absolute;
  top: 98px;
  text-align: left;
}

.legend > div {
  margin-left: 10px;
  margin: 10px;
}

.legend-text {
  font-size: 32px;
  line-height: 32px;
}

div.chain-wrapper {
  margin: 5px;
}

.chain-wrapper .image#chain-count {
  height: 30px;
  width: 30px;
  margin-right: 5px;
}

.chain-wrapper .chain {
  margin: 0 auto;
}

#world {
  border: 2px solid black;
  background-color: rgb(194, 255, 194);
}

.worm-left {
  width: 20px;
}

.worm-right {
  width: 20px;
}

.animate {
  animation: pulse 2s ease;
}

.end-wrapper,
.intro-wrapper {
  position: absolute;
  font-size: 32px;
  margin: 0 auto;
}

.intro-wrapper {
  font-size: 24px;
  width: 100%;
}

.intro {
  width: 100%;
}

.intro-message {
  display: block;
  width: 100%;
  padding: 16px;
}

.start {
  display: block;
  cursor: pointer;
  border-bottom: 1px solid black;
  width: max-content;
  margin: 16px auto;
}

.start:hover {
  color: red;
  border-bottom-color: red;
}

.game-end {
  width: max-content;
  margin: 0 auto;
  padding: 30px 80px;
}

.game-end {
  background-color: rgba(255, 255, 255, 0.5);
}

.game-end div {
  margin-bottom: 5px;
}

.game-end > .wrapper > .score {
  color: red;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(2);
  }

  100% {
    transform: scale(1);
  }
}

.tutorial-wrapper {
  position: absolute;
  top: 98px;
}

.tutorial-message {
  width: 60%;
  margin: 0 auto;
  font-size: 24px;
  line-height: 1.5;
  padding: 6px;
}

#tut-msg-1 {
  font-size: 16px;
  position: absolute;
}
